<!doctype html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./iconfont.css">
    <script src="vue.min.js" type="text/javascript"></script>
    <script src="https://www.gstatic.com/firebasejs/7.14.4/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.14.4/firebase-firestore.js"></script>
    <title>Document</title>
    <style type="text/css">
        @import "index.css";
    </style>
</head>

<body style="max-width: 1440px;
    margin: 0 auto;
    height: 100%;background-color: #eee;">
<div style="height: 800px;width:100%;background: yellow"></div>
<div style="height: 800px;width:100%;background: rebeccapurple"></div>
<div style="height: 800px;width:100%;background: black"></div>
<div style="height: 800px;width:100%;background: #007aff"></div>
<div class="rjs-player" id="rjs-player">
    <div :class="playListVisible?'play-list-container visible':'play-list-container invisible'">
        <div class="play-list">
            <div class="tabs">
                <div :class="playListTabIndex===1?'tab active':'tab'" @click="selectTab(1)">正在播放</div>
                <div :class="playListTabIndex===2?'tab active':'tab'" @click="selectTab(2)">上次播放</div>
            </div>
            <div class="table">
                <div class="table-container">
                    <table>
                        <thead>
                            <tr>
                                <th class="th-index" style="width: 10%;"></th>
                                <th class="th-songName" style="width: 30%;"></th>
                                <th class="th-artist" style="width: 30%;"></th>
                                <th class="th-duration" style="width: 30%;"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="music-list-tr" draggable="true" v-for="(item,i) in musicPlayList">
                                <td>
                                    <div v-if="playMusicListEditable" class="index-container">
                                        <div class="checkbox unselectable" @click="switchPlayMusicCheckBoxStatus(i)">
                                            <div v-if="playMUsicListSelected.indexOf(i)>=0" class="iconfont icon-xuanzhong selected"></div>
                                        </div>
                                    </div>
                                    <div  v-else-if="music.id===i" class="index-container">
                                        <div class="audio-icon unselectable">
                                            <div :class="is_music_playing?'column':'column paused'" style="animation-delay: -1.2s;"></div>
                                            <div :class="is_music_playing?'column':'column paused'"></div>
                                            <div :class="is_music_playing?'column':'column paused'" style="animation-delay: -1.5s;"></div>
                                            <div :class="is_music_playing?'column':'column paused'" style="animation-delay: -0.9s;"></div>
                                            <div :class="is_music_playing?'column':'column paused'" style="animation-delay: -0.6s;"></div>
                                        </div>
                                        <div v-if="playerStatus!=0"  class="iconfont icon-bofang-small operations" style="font-size: 22px;margin-left: -2px;" @click="playMusicItem(item)"></div>
                                        <div v-else  class="iconfont icon-tingzhi-small operations color-red" style="font-size: 22px;margin-left: -2px;" @click="playMusicItem(item)"></div>
                                    </div>
                                    <div  v-else class="index-container">
                                        <span  class="em index">{{addPreZero(i)}}</span>
                                        <div  class="iconfont icon-bofang-small operations" style="font-size: 22px;margin-left: -2px;" @click="playMusicItem(item)"></div>
                                    </div>
                                </td>
                                <td><a href="/song/wR7db09?spm=a2oj1.12028080.player.1.20156d99LputUC"
                                       data-spm-anchor-id="a2oj1.12028080.player.1"><span class="em" :style="music.id===i&&!playMusicListEditable?'color:red':''">{{item.title}}</span></a>
                                </td>
                                <td>
                                    <div class="singers COMPACT"><a
                                            href="/artist/fc1a46e?spm=a2oj1.12028080.player.2.20156d99LputUC"
                                            data-spm-anchor-id="a2oj1.12028080.player.2"  :style="music.id===i&&!playMusicListEditable?'color:red':''">{{item.artist}}</a></div>
                                </td>
                                <td v-if="playMusicListEditable">
                                    <div class="duration-container not-editing"><span class="duration" >{{time_second_len_beauty(item.length)}}</span>
                                    </div>
                                </td>
                                <td v-else>
                                    <div class="duration-container not-editing"><span class="duration editable"  :style="music.id===i?'color:red':''">{{time_second_len_beauty(item.length)}}</span>
                                        <div :class="music.id!==i?'operations':'operations color-red'" style="font-size: 20px">
                                            <div class="iconfont icon-player_danqumanyou_" style="font-size: 20px"></div>
                                            <div class="iconfont icon-shoucang" style="font-size: 20px"></div>
                                            <div class="iconfont icon-lajitong" style="font-size: 20px"></div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div v-if="playMusicListEditable" class="footer footer-editing">
                <div class="select-all">
                    <div class="checkbox unselectable" @click="switchPlayMUsicListSelecteAll">
                        <div v-if="playListIsSelectedAll" class="iconfont icon-xuanzhong selected color-red"></div>
                    </div>
                </div>
                <div class="select-count">已选择{{playMUsicListSelected.length}}首</div>
                <div class="select add-to-collect-select">
                    <div>
                        <div class="add-to-collect">加到歌单</div>
                    </div>
                </div>
                <div class="remove" @click="removeSelected">移除</div>
                <div class="division"></div>
                <div class="cancel" @click="cancelPlayMusicListEditable">取消</div>
            </div>
            <div v-else class="footer">
                <div class="count">共{{musicPlayList.length}}首</div>
                <div class="edit" @click="editPlayMusicList">编辑列表</div>
                <div class="clear" @click="clearAllPlayerList">清空</div>
            </div>
            <div class="close iconfont icon-guanbi" @click="showPlayListPanel"></div>
        </div>
    </div>

    <div class="player-progress">
        <div class="range"  @click.stop="changePlayProgress">
            <div class="bar" ref="handleMusicProgress" :style="player_progress_bar_right">
                <div class="handle">
                    {{time_second_len_beauty(musicCurrentTime)}}/{{time_second_len_beauty(musicDuration)}}
                </div>
            </div>
        </div>
    </div>
    <div class="player-bar">
        <div class="music">
            <a href="http://localhost/1.jpg" class="cover-link">
                <div class="transitive-image">
                    <img class="active"
                         src="https://pic.xiami.net/images/album/img73/36499573/8365086691436508670.jpg?x-oss-process=image/resize,limit_0,m_fill,s_144/quality,q_80/format,jpg"
                         alt="">
                    <img src="http://localhost/1.jpg" alt="">
                </div>
            </a>
            <div class="info">
                <div class="scroll">
                    <div class="content">
                        <a class="title" href="http://localhost/1.jpg">{{ music.title }}</a>
                    </div>
                </div>
                <div class="singers">
                    <a href="http://localhost/1.jpg">{{ music.artist }}</a>
                </div>
            </div>
            <div class="select">
                <div>
                    <div class="quality-selector" title="音质选择">
                        <span class="iconfont icon-HQ15" style="font-size: 15px"></span>
                        <span></span>
                    </div>
                </div>
                <div class="context-menu-wrapper">
                    <div></div>
                </div>
            </div>
            <div :class="music.star?'favorite iconfont icon-xihuan':'favorite iconfont icon-shoucang'"
                 title="收藏" @click="switchFavorite" :style="music.star?'color:red':''"></div>
            <div :class="roma_switch?'roma iconfont icon-player_dakaimanyou_':'roma iconfont icon-player_danqumanyou_'"
                 title="漫游" @click="switchRoma" :style="roma_switch?'color:red':''"></div>
            <div class="more iconfont icon-gengduo" title="更多"></div>
        </div>
        <div class="main-control-wrapper">
            <div class="main-control">
                <div class="prev iconfont icon-shangyishou" title="上一首"></div>
                <div class="play-btn" v-on:click="changePlayerStatus">
                    <span :class="main_play_btn_class" title="暂停"></span>
                </div>
                <div class="next iconfont icon-xiayishou" title="下一首"></div>
            </div>
        </div>
        <div class="tuning">
            <div class="volume-control">
                <div :class="class_volume_mode" title="静音" @click="switchVolumeMute"></div>
                <div class="range" @click.stop="changeVolume">
                    <div class="bar" :style="style_volume_width">
                        <div class="handle" :style="style_handle_dot_color" @mousedown.stop="changeVolumeStart($event)"
                             ref='handle'></div>
                    </div>
                </div>
            </div>
            <div class="play-mode-control" @click="switchPlayMode">
                <div title="顺序" :class="class_play_mode"></div>
            </div>
            <div class="lyric-control iconfont icon-ci24" title="歌词"></div>
            <div :class="playListVisible?'play-list-control iconfont icon-bofangliebiao24 some_selected':'play-list-control iconfont icon-bofangliebiao24'" title="播放列表"
                 @click="showPlayListPanel"></div>
            <!-- <div class="immersion-control iconfont icon-quanping" title="沉浸模式">x{{positionX}},y{{positionY}}</div> -->
        </div>
    </div>
</div>
<script type="text/javascript">
    // const firebase = require("firebase");
    // // Required for side-effects
    // require("firebase/firestore")
    function randomString(e) {
        e = e || 32;
        var t = "ABCDEFGHJKMNPQRSTWXYZabcdefhijkmnprstwxyz2345678",
            a = t.length,
            n = "";
        for (i = 0; i < e; i++) n += t.charAt(Math.floor(Math.random() * a));
        return n
    }
    // var firebaseConfig = {
    //     apiKey: "AIzaSyBrMj6ibGNdpDdWCYm4DW6Zlc__ezpjD7U",
    //     authDomain: "xiami-7831d.firebaseapp.com",
    //     projectId: "xiami-7831d",
    //     storageBucket: "xiami-7831d.appspot.com",
    //     messagingSenderId: "1058535637951",
    //     appId: "1:1058535637951:web:da831b3b1ef3de8185570a",
    //     measurementId: "G-58T74XN778"
    // };
    // // Initialize Firebase
    // firebase.initializeApp(firebaseConfig);
    // var db = firebase.firestore();
    // db.collection('music').add({
    //     id:Date.parse(new Date())/1000,
    //     artist: randomString(5),
    //     date: "2012-12-12",
    //     description: "",
    //     ext: "",
    //     group: randomString(3),
    //     length: "",
    //     pic: "",
    //     size: "",
    //     src: "",
    //     title: randomString(6),
    //     star: true,
    //     quality: 'hq',//sd
    // }).then(function(docRef) {
    //         console.log("Document written with ID: ", docRef.id);
    //     })
    //     .catch(function(error) {
    //         console.error("Error adding document: ", error);
    //     });
    // mref=db.collection('music').get().then(function (res){
    //     console.log(res)
    // });
    // console.log(mref)
    //以上非vue部分，属测试部分
    new Vue({
        el: '#rjs-player',
        data: {
            music: {
                id:1,
                artist: "李昕融 / 樊桐舟 / 李凯稠",
                date: "2012-12-12",
                description: "",
                ext: "",
                group: "",
                length: "",
                pic: "",
                size: "",
                src: "",
                title: "你笑起来真好看",
                star: true,
                quality: 'hq',//sd
            },
            volume: 100,
            volumeTmp: 0,
            handleStyleLeft: 0,
            volumeBarOffsetX: 0,
            playerStatus: 0,//pause,start
            roma_switch: false,//roma switch status
            playMode: 1,//播放模式,1:列表循环,2,单曲循环,3:随机播放,4:列表播放
            positionX: 0,
            positionY: 0,
            musicPlayList:[],
            musicPlayListLineSelected:undefined,
            musicDuration:136,
            musicCurrentTime:40,
            playListTabIndex:1,
            playListVisible:false,
            playListHistory:[],
            musicPlayListBox:[],
            playMusicListEditable:false,//编辑播放列表.
            playMUsicListSelected:[]

        },
        computed: {
            // a computed getter
            style_volume_width: function () {
                return 'width:' + this.volume + '%;'
            },
            main_play_btn_class: function () {
                switch (this.playerStatus) {
                    case 0:
                        return 'iconfont icon-zanting'
                    case 1:
                        return 'iconfont icon-bofang'
                    default:

                }
                return 'iconfont icon-zanting'
            },
            is_music_playing: function () {
                switch (this.playerStatus) {
                    case 0:
                        return true
                    case 1:
                        return false
                    default:
                        return true
                }
            },
            class_volume_mode: function () {
                switch (this.volume) {
                    case 0:
                        return 'volume-mode iconfont icon-jingyin'
                    case 80:
                        return 'volume-mode iconfont icon-shengyin'
                    default:
                        return 'volume-mode iconfont icon-shengyin'
                }
            },
            style_handle_dot_color: function () {
                if (this.volume === 0) {
                    return 'background-color:gray'
                } else {
                    return ''
                }
            },
            class_play_mode: function () {
                switch (this.playMode) {
                    case 1:
                        return 'iconfont icon-xunhuanbofang'
                    case 2:
                        return 'iconfont icon-danquxunhuan-1'
                    case 3:
                        return 'iconfont icon-suijibofang-4'
                    case 4:
                        return 'iconfont icon-xunhuanbofang'
                    default:
                        return 'iconfont icon-icon_liebiaobofang_px'
                }
            },
            player_progress_bar_right: function () {
                if(this.musicCurrentTime ===0|| this.musicDuration===0) {
                    //0
                    return 'right:100%'
                }
                return 'right:'+(100*(1-this.musicCurrentTime/this.musicDuration)).toString()+'%'
            },
            playListIsSelectedAll:function () {
                return this.playMUsicListSelected.length>=this.musicPlayList.length && this.musicPlayList.length>0
            }
        },
        created(){
            this.musicPlayListBox=Array(30).fill({
                id:1,
                artist: "李昕融 / 樊桐舟 / 李凯稠",
                date: "2012-12-12",
                description: "",
                ext: "",
                group: "",
                length: 137,
                pic: "",
                size: "",
                src: "",
                title: "你笑起来真好看",
                star: true,
                quality: 'hq',//sd
            })
            this.playListHistory=Array(5).fill({
                id:2,
                artist: "S.H.E",
                date: "2006-07-12",
                description: "",
                ext: "",
                group: "",
                length: 100,
                pic: "",
                size: "",
                src: "",
                title: "一眼万年",
                star: false,
                quality: 'hq',//sd
            })
        },
        methods: {
            time_second_len_beauty(second_value) {
                return this.addPreZero(Math.floor(second_value/60))+':'+this.addPreZero((second_value%60))
            },
            changePlayerStatus() {
                switch (this.playerStatus) {
                    case 0:
                        this.playerStatus = 1
                        break
                    case 1:
                        this.playerStatus = 0
                        break
                    default:

                }
            },
            changeVolume(e) {
                // this.volumeBarOffsetX=this.volumeBarOffsetX+e.offsetX
                var el1 = e.currentTarget;
                var el2 = e.target;
                if (el1 == el2) {
                    this.volume = (e.offsetX / 80) * 100;
                    this.$refs.handle.style.left = e.offsetX + 'px'
                }
            },
            changeVolumeStart(e) {
                e.stopPropagation()
                let odiv = e.target       //获取目标元素

                //算出鼠标相对元素的位置
                let disX = e.clientX - odiv.offsetLeft
                let disY = e.clientY - odiv.offsetTop
                document.onmousemove = (e) => {       //鼠标按下并移动的事件
                    //用鼠标的位置减去鼠标相对元素的位置，得到元素的位置
                    let left = e.clientX - disX
                    let top = e.clientY - disY

                    //绑定元素位置到positionX和positionY上面
                    this.positionX = top
                    this.positionY = left

                    //移动当前元素
                    left = left > 80 ? 80 : left
                    left = left < 0 ? 0 : left
                    odiv.style.left = left + 'px'
                    this.volume = left / 80 * 100;
                };
                document.onmouseup = (e) => {
                    document.onmousemove = null
                    document.onmouseup = null
                }
            },
            switchFavorite() {
                // 切换 收藏状态
                if (this.music.star) {
                    this.music.star = false
                } else {
                    this.music.star = true
                }
            },
            switchRoma() {
                // 切换漫游
                if (this.roma_switch) {
                    this.roma_switch = false
                } else {
                    this.roma_switch = true
                }
            },
            switchVolumeMute() {
                // 切换静音状态
                if (this.volume === 0) {
                    this.volume = this.volumeTmp
                    this.$refs.handle.style.left = this.handleStyleLeft
                } else {
                    this.volumeTmp = this.volume
                    this.handleStyleLeft = this.$refs.handle.style.left
                    this.$refs.handle.style.left = 0
                    this.volume = 0
                }
            },
            switchPlayMode() {
                if (this.playMode < 3) {
                    this.playMode = this.playMode + 1
                } else {
                    this.playMode = 1
                }
            },
            addPreZero(num){
                if(num<10){
                    return '0'+num;
                // }else if(num<100){
                //     return '00'+num;
                // }else if(num<1000){
                //     return '0'+num;
                }else{
                    return num;
                }
            },
            selectMusicListLine(index) {
                console.log(index)
                this.musicPlayListLineSelected=index
            },
            changePlayProgress(e){
                // this.volumeBarOffsetX=this.volumeBarOffsetX+e.offsetX
                var el1 = e.currentTarget;
                var el2 = e.target;
                if (el1 == el2) {
                    console.log('el1:'+el1)
                    console.log(el1)
                    console.log('el2:'+el2)
                    console.log(el2)
                    console.log(e.offsetX)
                //     // this.volume = (e.offsetX / 80) * 100;
                    this.setPlayProgress(e.offsetX/14.40)
                }
            },
            setPlayProgress(value) {
                // this.$refs.handleMusicProgress.style.right = (100-value) + '%'
                this.musicCurrentTime=Math.floor(this.musicDuration*(value/100))

            },
            selectTab(index) {
                this.playListTabIndex=index
                switch (this.playListTabIndex){
                    case 1:
                        this.musicPlayList = this.musicPlayListBox
                        break
                    case 2:
                        this.musicPlayList = this.playListHistory
                        break
                }
            },
            clearTab(index) {
                switch (this.playListTabIndex){
                    case 1:
                        this.musicPlayListBox=[]
                        break
                    case 2:
                        this.playListHistory=[]
                        break
                }
            },
            showPlayListPanel() {
                //this.playListHistory
                this.selectTab(this.playListTabIndex)
                if(this.playListVisible){
                    this.playListVisible=false
                }else{
                    this.playListVisible=true
                }
            },
            clearAllPlayerList() {
                this.musicPlayList=[]
                this.clearTab(this.playListTabIndex)

            },
            editPlayMusicList() {
                this.playMusicListEditable=true
            },
            cancelPlayMusicListEditable() {
                this.playMusicListEditable=false
            },
            switchPlayMusicCheckBoxStatus(i){
                if((seIndex=this.playMUsicListSelected.indexOf(i))<0){
                    this.playMUsicListSelected.push(i)
                }else{
                    this.playMUsicListSelected.splice(seIndex,1)
                }

            },
            switchPlayMUsicListSelecteAll() {
                if(this.playMUsicListSelected.length<this.musicPlayList.length){
                    const tmp=[]
                    for(i=0;i<this.musicPlayList.length;i++){
                        tmp.push(i)
                    }
                    this.playMUsicListSelected=tmp
                }else{
                    this.playMUsicListSelected=[]
                }
            },
            removeSelected() {
                let that = this
                this.musicPlayList=this.musicPlayList.filter(function (v,index){
                    return that.playMUsicListSelected.indexOf(index) < 0
                })
                console.log(this.tabIndex)
                if(this.playListTabIndex===1)this.musicPlayListBox=this.musicPlayList
                if(this.playListTabIndex===2)this.playListHistory=this.musicPlayList

                this.playMUsicListSelected=[]
            },
            playMusicItem(item) {
                // this.music=item
                console.log(item)
                this.music=item
                this.changePlayerStatus()
            }
        }
    })
</script>
<!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="https://www.gstatic.com/firebasejs/8.2.2/firebase-app.js"></script>

<!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->
<script src="https://www.gstatic.com/firebasejs/8.2.2/firebase-analytics.js"></script>

<script>
    // Your web app's Firebase configuration
    // For Firebase JS SDK v7.20.0 and later, measurementId is optional
    var firebaseConfig = {
        apiKey: "AIzaSyBrMj6ibGNdpDdWCYm4DW6Zlc__ezpjD7U",
        authDomain: "xiami-7831d.firebaseapp.com",
        projectId: "xiami-7831d",
        storageBucket: "xiami-7831d.appspot.com",
        messagingSenderId: "1058535637951",
        appId: "1:1058535637951:web:da831b3b1ef3de8185570a",
        measurementId: "G-58T74XN778"
    };
    // Initialize Firebase
    firebase.initializeApp(firebaseConfig);
    firebase.analytics();
</script>
</body>

</html>
