*{
    -webkit-tap-highlight-color: transparent;
    outline: none;
}
*, :after, :before {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}
tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}
a {
    text-decoration: none;
    color: inherit;
}
.rjs-player {
    line-height: 1.15;
    --swiper-theme-color: #007aff;
    --swiper-navigation-size: 44px;
    font-size: 14px;
    font-family: PingFang SC,Arial,Microsoft YaHei,sans-serif;
    -webkit-font-smoothing: antialiased;
    color: #4a4a4a;
    box-sizing: inherit;
    -webkit-tap-highlight-color: transparent;
    outline: none;
    position: fixed;
    width: 100%;
    margin: 0 auto;
    user-select: none;
    transition: opacity 1.5s,transform .25s,-webkit-transform .25s;
    /* max-width: 1440px; */
    opacity: 1;
    transform: translateY(0px);
    bottom: 0px;
    max-width: 1440px;
}
.player-list-panel {
}
.player-progress {
    position: relative;
    z-index: 1;
}
.player-progress .range {
    height: 2px;
    /*   width: 90%; */
    position: relative;
    background: #f2f2f2;
    cursor: pointer;
}
.player-progress .range:before{
    content: "";
    position: absolute;
    top: -5px;
    bottom: -5px;
    left: -5px;
    right: -5px;
    z-index: 1;
}
.player-progress .range .bar {
    /*right: 100%;*/
    padding-right: 53px;
    position: absolute;
    left: 0;
    height: 100%;
    border-radius: 1px;
    background: -webkit-gradient(
            linear,
            left top,
            right top,
            from(transparent),
            color-stop(20%, #ff410f)
    );
    background: -o-linear-gradient(left, transparent, #ff410f 20%);
    background: linear-gradient(90deg, transparent, #ff410f 20%);
    background-origin: content-box;
}
.player-progress .range .bar .handle{
    --swiper-theme-color: #007aff;
    --swiper-navigation-size: 44px;
    font-family: PingFang SC,Arial,Microsoft YaHei,sans-serif;
    -webkit-font-smoothing: antialiased;
    user-select: none;
    box-sizing: inherit;
    -webkit-tap-highlight-color: transparent;
    outline: none;
    position: absolute;
    top: -9px;
    left: 100%;
    height: 20px;
    width: 96px;
    line-height: 20px;
    border-radius: 10px;
    font-size: 12px;
    color: #fff;
    background-color: #000;
    opacity: .8;
    box-shadow: 2px 2px 4px rgba(0,0,0,.4);
    text-align: center;
    z-index: 1;
    white-space: nowrap;
    cursor: pointer;
    margin-left: -68.699px;
}
.player-bar {
    line-height: 1.15;
    --swiper-theme-color: #007aff;
    --swiper-navigation-size: 44px;
    font-size: 14px;
    font-family: PingFang SC,Arial,Microsoft YaHei,sans-serif;
    -webkit-font-smoothing: antialiased;
    color: #4a4a4a;
    user-select: none;
    box-sizing: inherit;
    -webkit-tap-highlight-color: transparent;
    outline: none;
    position: relative;
    height: 72px;
    min-width: 850px;
    -webkit-box-pack: center;
    justify-content: center;
    display: flex;
    background-color: #FFF;
    box-shadow: 0 1px 0 inset #F2F2F2;
}
.player-bar .main-control-wrapper{
    --swiper-theme-color: #007aff;
    --swiper-navigation-size: 44px;
    font-size: 14px;
    font-family: PingFang SC,Arial,Microsoft YaHei,sans-serif;
    -webkit-font-smoothing: antialiased;
    color: #4a4a4a;
    user-select: none;
    box-sizing: inherit;
    -webkit-tap-highlight-color: transparent;
    outline: none;
    height: 72px;
    line-height: 72px;
}
.player-bar .main-control-wrapper .main-control{
    --swiper-theme-color: #007aff;
    --swiper-navigation-size: 44px;
    font-size: 14px;
    font-family: PingFang SC,Arial,Microsoft YaHei,sans-serif;
    -webkit-font-smoothing: antialiased;
    color: #4a4a4a;
    user-select: none;
    line-height: 72px;
    box-sizing: inherit;
    -webkit-tap-highlight-color: transparent;
    outline: none;
    width: 120px;
    min-width: 120px;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
}
.player-bar .main-control-wrapper .prev{
    --swiper-theme-color: #007aff;
    --swiper-navigation-size: 44px;
    -webkit-font-smoothing: antialiased;
    color: #4a4a4a;
    line-height: 72px;
    box-sizing: inherit;
    -webkit-tap-highlight-color: transparent;
    outline: none;
    font-family: iconfont;
    text-align: center;
    user-select: none;
    font-size: 24px;
    cursor: pointer;
    width: 24px;
    height: 72px;
    /*background: yellow;*/
}
.player-bar .main-control-wrapper .next{
    --swiper-theme-color: #007aff;
    --swiper-navigation-size: 44px;
    -webkit-font-smoothing: antialiased;
    color: #4a4a4a;
    line-height: 72px;
    box-sizing: inherit;
    -webkit-tap-highlight-color: transparent;
    outline: none;
    font-family: iconfont;
    text-align: center;
    user-select: none;
    font-size: 24px;
    cursor: pointer;
    width:24px;
    height: 72px;
    /*background: yellowgreen;*/
}
.player-bar .main-control-wrapper .play-btn{
    --swiper-theme-color: #007aff;
    --swiper-navigation-size: 44px;
    font-family: PingFang SC,Arial,Microsoft YaHei,sans-serif;
    -webkit-font-smoothing: antialiased;
    user-select: none;
    box-sizing: inherit;
    -webkit-tap-highlight-color: transparent;
    outline: none;
    height: 37px;
    width: 37px;
    padding: 5px;
    color: #fff;
    background-color: #ff410f;
    border-radius: 50%;
    font-size: 37px;
    line-height: 37px;
    margin-left: 1px;
    cursor: pointer;
}
.player-bar .main-control-wrapper .play-btn span{
    --swiper-theme-color: #007aff;
    --swiper-navigation-size: 44px;
    -webkit-font-smoothing: antialiased;
    color: #fff;
    font-size: 37px;
    line-height: 37px;
    cursor: pointer;
    box-sizing: inherit;
    -webkit-tap-highlight-color: transparent;
    outline: none;
    font-family: iconfont;
    text-align: center;
    user-select: none;
}
.player-bar .tuning{
    line-height: 1.15;
    --swiper-theme-color: #007aff;
    --swiper-navigation-size: 44px;
    font-size: 14px;
    font-family: PingFang SC,Arial,Microsoft YaHei,sans-serif;
    -webkit-font-smoothing: antialiased;
    color: #4a4a4a;
    user-select: none;
    box-sizing: inherit;
    -webkit-tap-highlight-color: transparent;
    outline: none;
    position: absolute;
    height: 100%;
    right: 105px;
    width: 332px;
    -webkit-box-pack: end;
    justify-content: flex-end;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}
.player-bar .tuning .volume-control{
    line-height: 1.15;
    --swiper-theme-color: #007aff;
    --swiper-navigation-size: 44px;
    font-size: 14px;
    font-family: PingFang SC,Arial,Microsoft YaHei,sans-serif;
    -webkit-font-smoothing: antialiased;
    color: #4a4a4a;
    user-select: none;
    box-sizing: inherit;
    -webkit-tap-highlight-color: transparent;
    outline: none;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    margin-right: 15px;
}
.player-bar .tuning .volume-control .volume-mode{
    line-height: 1.15;
    --swiper-theme-color: #007aff;
    --swiper-navigation-size: 44px;
    -webkit-font-smoothing: antialiased;
    color: #4a4a4a;
    box-sizing: inherit;
    -webkit-tap-highlight-color: transparent;
    outline: none;
    font-family: iconfont;
    text-align: center;
    user-select: none;
    margin-right: 2px;
    font-size: 24px;
    cursor: pointer;

    width: 24px;
}
/*音量条*/
.player-bar .tuning .volume-control .range{
    line-height: 1.15;
    --swiper-theme-color: #007aff;
    --swiper-navigation-size: 44px;
    font-size: 14px;
    font-family: PingFang SC,Arial,Microsoft YaHei,sans-serif;
    -webkit-font-smoothing: antialiased;
    color: #4a4a4a;
    user-select: none;
    box-sizing: inherit;
    -webkit-tap-highlight-color: transparent;
    outline: none;
    position: relative;
    width: 80px;
    height: 2px;
    border-radius: 1px;
    background-color: #ccc;
    cursor: pointer;
    margin-top: 3px;
    margin-bottom: 3px;
}
/*音量进度条，修改值*/
.player-bar .tuning .volume-control .range .bar{
    line-height: 1.15;
    --swiper-theme-color: #007aff;
    --swiper-navigation-size: 44px;
    font-size: 14px;
    font-family: PingFang SC,Arial,Microsoft YaHei,sans-serif;
    -webkit-font-smoothing: antialiased;
    color: #4a4a4a;
    user-select: none;
    cursor: pointer;
    box-sizing: inherit;
    -webkit-tap-highlight-color: transparent;
    outline: none;
    position: relative;
    height: 100%;
    border-radius: 1px;
    background-color: #ff410f;
}
.player-bar .tuning .volume-control .range:before{
    content: "";
    position: absolute;
    top: -5px;
    bottom: -5px;
    left: -5px;
    right: -5px;
    z-index: 1;
}
.player-bar .tuning .volume-control .range .bar .handle{
    line-height: 1.15;
    --swiper-theme-color: #007aff;
    --swiper-navigation-size: 44px;
    font-size: 14px;
    font-family: PingFang SC,Arial,Microsoft YaHei,sans-serif;
    -webkit-font-smoothing: antialiased;
    color: #4a4a4a;
    user-select: none;
    box-sizing: inherit;
    -webkit-tap-highlight-color: transparent;
    outline: none;
    background-color: #FF410F;
    position: absolute;
    top: -2px;
    right: -3px;
    height: 6px;
    width: 6px;
    border-radius: 1px;
    transform: rotate(45deg);
    z-index: 1;
    cursor: pointer;
}
/*调整小圆点可点击范围*/
.player-bar .tuning .volume-control .range .bar .handle:before{
    content: "";
    position: absolute;
    top: -3px;
    bottom: -3px;
    left: -3px;
    right: -3px;
    z-index: 1;
}
.player-bar .tuning .play-mode-control{
    line-height: 1.15;
    --swiper-theme-color: #007aff;
    --swiper-navigation-size: 44px;
    font-size: 14px;
    font-family: PingFang SC,Arial,Microsoft YaHei,sans-serif;
    -webkit-font-smoothing: antialiased;
    color: #4a4a4a;
    user-select: none;
    box-sizing: inherit;
    -webkit-tap-highlight-color: transparent;
    outline: none;
    margin-right: 15px;
    cursor: pointer;
}
.player-bar .tuning .lyric-control{
    line-height: 1.15;
    --swiper-theme-color: #007aff;
    --swiper-navigation-size: 44px;
    -webkit-font-smoothing: antialiased;
    color: #4a4a4a;
    box-sizing: inherit;
    -webkit-tap-highlight-color: transparent;
    outline: none;
    font-family: iconfont;
    text-align: center;
    user-select: none;
    margin-right: 15px;
    font-size: 24px;
    cursor: pointer;
}
.player-bar .tuning .play-list-control{
    line-height: 1.15;
    --swiper-theme-color: #007aff;
    --swiper-navigation-size: 44px;
    -webkit-font-smoothing: antialiased;
    color: #4a4a4a;
    box-sizing: inherit;
    -webkit-tap-highlight-color: transparent;
    outline: none;
    font-family: iconfont;
    text-align: center;
    user-select: none;
    margin-right: 15px;
    font-size: 24px;
    cursor: pointer;
}
.player-bar .tuning .immersion-control{
    line-height: 1.15;
    --swiper-theme-color: #007aff;
    --swiper-navigation-size: 44px;
    -webkit-font-smoothing: antialiased;
    color: #4a4a4a;
    box-sizing: inherit;
    -webkit-tap-highlight-color: transparent;
    outline: none;
    font-family: iconfont;
    text-align: center;
    user-select: none;
    font-size: 22px;
    cursor: pointer;
}
/*左侧音乐信息面板*/
.player-bar .music{
    line-height: 1.15;
    --swiper-theme-color: #007aff;
    --swiper-navigation-size: 44px;
    font-size: 14px;
    font-family: PingFang SC,Arial,Microsoft YaHei,sans-serif;
    -webkit-font-smoothing: antialiased;
    color: #4a4a4a;
    user-select: none;
    box-sizing: inherit;
    -webkit-tap-highlight-color: transparent;
    outline: none;
    display: flex;
    position: absolute;
    height: 100%;
    left: 105px;
    -webkit-box-align: center;
    align-items: center;
}
/*音乐封面*/
.player-bar .music .cover-link{
    line-height: 1.15;
    --swiper-theme-color: #007aff;
    --swiper-navigation-size: 44px;
    font-size: 14px;
    font-family: PingFang SC,Arial,Microsoft YaHei,sans-serif;
    -webkit-font-smoothing: antialiased;
    user-select: none;
    box-sizing: inherit;
    -webkit-tap-highlight-color: transparent;
    outline: none;
    background-color: transparent;
    color: inherit;
    text-decoration: none;
    width: 72px;
    height: 72px;
    display: inline-block;
    overflow: hidden;
}
.player-bar .music .cover-link .transitive-image{
    line-height: 1.15;
    --swiper-theme-color: #007aff;
    --swiper-navigation-size: 44px;
    font-size: 14px;
    font-family: PingFang SC,Arial,Microsoft YaHei,sans-serif;
    -webkit-font-smoothing: antialiased;
    color: inherit;
    box-sizing: inherit;
    -webkit-tap-highlight-color: transparent;
    outline: none;
    position: relative;
    user-select: none;
    height: 100%;
    width: 100%;
}
.player-bar .music .cover-link .transitive-image image{
    line-height: 1.15;
    --swiper-theme-color: #007aff;
    --swiper-navigation-size: 44px;
    font-size: 14px;
    font-family: PingFang SC,Arial,Microsoft YaHei,sans-serif;
    -webkit-font-smoothing: antialiased;
    color: inherit;
    user-select: none;
    box-sizing: inherit;
    -webkit-tap-highlight-color: transparent;
    outline: none;
    border-style: none;
    position: absolute;
    opacity: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: opacity 1s;
}
.player-bar .music .cover-link .transitive-image .active{
    line-height: 1.15;
    --swiper-theme-color: #007aff;
    --swiper-navigation-size: 44px;
    font-size: 14px;
    font-family: PingFang SC,Arial,Microsoft YaHei,sans-serif;
    -webkit-font-smoothing: antialiased;
    color: inherit;
    user-select: none;
    box-sizing: inherit;
    -webkit-tap-highlight-color: transparent;
    outline: none;
    border-style: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: opacity 1s;
    opacity: 1;
}
/*音乐名称和作者*/
.player-bar .music .info{
    line-height: 1.15;
    --swiper-theme-color: #007aff;
    --swiper-navigation-size: 44px;
    font-size: 14px;
    font-family: PingFang SC,Arial,Microsoft YaHei,sans-serif;
    -webkit-font-smoothing: antialiased;
    color: #4a4a4a;
    user-select: none;
    box-sizing: inherit;
    -webkit-tap-highlight-color: transparent;
    outline: none;
    margin-left: 8px;
    width: 130px;
}
/*歌曲名称*/
.player-bar .music .info .scroll{
    line-height: 1.15;
    --swiper-theme-color: #007aff;
    --swiper-navigation-size: 44px;
    font-size: 14px;
    font-family: PingFang SC,Arial,Microsoft YaHei,sans-serif;
    -webkit-font-smoothing: antialiased;
    color: #4a4a4a;
    user-select: none;
    box-sizing: inherit;
    -webkit-tap-highlight-color: transparent;
    outline: none;
    overflow: hidden;
    white-space: nowrap;
    transition: opacity .5s;
}
.player-bar .music .info .scroll .content{
    line-height: 1.15;
    --swiper-theme-color: #007aff;
    --swiper-navigation-size: 44px;
    font-size: 14px;
    font-family: PingFang SC,Arial,Microsoft YaHei,sans-serif;
    -webkit-font-smoothing: antialiased;
    color: #4a4a4a;
    user-select: none;
    white-space: nowrap;
    box-sizing: inherit;
    -webkit-tap-highlight-color: transparent;
    outline: none;
    display: inline-block;
    transition: none;
}
.player-bar .music .info .scroll .content .title{
    --swiper-theme-color: #007aff;
    --swiper-navigation-size: 44px;
    font-family: PingFang SC,Arial,Microsoft YaHei,sans-serif;
    -webkit-font-smoothing: antialiased;
    user-select: none;
    white-space: nowrap;
    box-sizing: inherit;
    -webkit-tap-highlight-color: transparent;
    outline: none;
    background-color: transparent;
    text-decoration: none;
    color: #4a4a4a;
    font-size: 14px;
    line-height: 18px;
}
.player-bar .music .info .singers{
    line-height: 1.15;
    --swiper-theme-color: #007aff;
    --swiper-navigation-size: 44px;
    font-family: PingFang SC,Arial,Microsoft YaHei,sans-serif;
    -webkit-font-smoothing: antialiased;
    user-select: none;
    box-sizing: inherit;
    -webkit-tap-highlight-color: transparent;
    outline: none;
    font-weight: 300;
    width: 100%;
    margin-top: 4px;
    color: #999;
    font-size: 12px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.player-bar .music .info .singers a{
    line-height: 1.15;
    --swiper-theme-color: #007aff;
    --swiper-navigation-size: 44px;
    font-family: PingFang SC,Arial,Microsoft YaHei,sans-serif;
    -webkit-font-smoothing: antialiased;
    user-select: none;
    font-weight: 300;
    font-size: 12px;
    white-space: nowrap;
    box-sizing: inherit;
    -webkit-tap-highlight-color: transparent;
    outline: none;
    background-color: transparent;
    color: inherit;
    text-decoration: none;
}
/*选择音质*/
.player-bar .music .select{
    line-height: 1.15;
    --swiper-theme-color: #007aff;
    --swiper-navigation-size: 44px;
    font-size: 14px;
    font-family: PingFang SC,Arial,Microsoft YaHei,sans-serif;
    -webkit-font-smoothing: antialiased;
    color: #4a4a4a;
    user-select: none;
    box-sizing: inherit;
    -webkit-tap-highlight-color: transparent;
    outline: none;
    display: inline-block;
    margin-left: 8px;
}
.player-bar .music .select div:nth-child(1){
    line-height: 1.15;
    --swiper-theme-color: #007aff;
    --swiper-navigation-size: 44px;
    font-size: 14px;
    font-family: PingFang SC,Arial,Microsoft YaHei,sans-serif;
    -webkit-font-smoothing: antialiased;
    color: #4a4a4a;
    user-select: none;
    box-sizing: inherit;
    -webkit-tap-highlight-color: transparent;
    outline: none;
}
.player-bar .music .select .quality-selector{
    --swiper-theme-color: #007aff;
    --swiper-navigation-size: 44px;
    font-family: PingFang SC,Arial,Microsoft YaHei,sans-serif;
    -webkit-font-smoothing: antialiased;
    color: #4a4a4a;
    user-select: none;
    box-sizing: inherit;
    -webkit-tap-highlight-color: transparent;
    outline: none;
    position: relative;
    width: 36px;
    height: 18px;
    line-height: 18px;
    font-size: 12px;
    border-radius: 3px;
    text-align: center;
    display: flex;
    cursor: pointer;
}
.player-bar .music .select .quality-selector span{
    --swiper-theme-color: #007aff;
    --swiper-navigation-size: 44px;
    -webkit-font-smoothing: antialiased;
    color: #4a4a4a;
    line-height: 18px;
    cursor: pointer;
    box-sizing: inherit;
    -webkit-tap-highlight-color: transparent;
    outline: none;
    font-family: iconfont;
    text-align: center;
    user-select: none;
    -webkit-box-flex: 1;
    flex: 1;
    display: inline-block;
    font-size: 18px;
}
.player-bar .music .select .context-menu-wrapper{
    line-height: 1.15;
    --swiper-theme-color: #007aff;
    --swiper-navigation-size: 44px;
    font-size: 14px;
    font-family: PingFang SC,Arial,Microsoft YaHei,sans-serif;
    -webkit-font-smoothing: antialiased;
    color: #4a4a4a;
    user-select: none;
    box-sizing: inherit;
    -webkit-tap-highlight-color: transparent;
    outline: none;
}
.player-bar .music .select .context-menu-wrapper div{
    line-height: 1.15;
    --swiper-theme-color: #007aff;
    --swiper-navigation-size: 44px;
    font-size: 14px;
    font-family: PingFang SC,Arial,Microsoft YaHei,sans-serif;
    -webkit-font-smoothing: antialiased;
    color: #4a4a4a;
    user-select: none;
    box-sizing: inherit;
    -webkit-tap-highlight-color: transparent;
    outline: none;
}
/*收藏*/
.player-bar .music .favorite{
    line-height: 1.15;
    --swiper-theme-color: #007aff;
    --swiper-navigation-size: 44px;
    -webkit-font-smoothing: antialiased;
    color: #4a4a4a;
    box-sizing: inherit;
    -webkit-tap-highlight-color: transparent;
    outline: none;
    font-family: iconfont;
    text-align: center;
    user-select: none;
    margin-left: 15px;
    font-size: 24px;
    cursor: pointer;
}
/*漫游*/
.player-bar .music .roma{
    line-height: 1.15;
    --swiper-theme-color: #007aff;
    --swiper-navigation-size: 44px;
    -webkit-font-smoothing: antialiased;
    color: #4a4a4a;
    box-sizing: inherit;
    -webkit-tap-highlight-color: transparent;
    outline: none;
    font-family: iconfont;
    text-align: center;
    user-select: none;
    margin-left: 15px;
    font-size: 24px;
    cursor: pointer;
}
/*更多*/
.player-bar .music .more{
    line-height: 1.15;
    --swiper-theme-color: #007aff;
    --swiper-navigation-size: 44px;
    -webkit-font-smoothing: antialiased;
    color: #4a4a4a;
    box-sizing: inherit;
    -webkit-tap-highlight-color: transparent;
    outline: none;
    font-family: iconfont;
    text-align: center;
    user-select: none;
    margin-left: 15px;
    font-size: 24px;
    cursor: pointer;
}
/*歌词面板*/
.rjs-player .play-list-container{
    position: fixed;
    bottom: 77px;
    right: 120px;
    -webkit-transition: opacity .3s,-webkit-transform .3s;
    transition: opacity .3s,-webkit-transform .3s;
    -o-transition: opacity .3s,transform .3s;
    transition: opacity .3s,transform .3s;
    transition: opacity .3s,transform .3s,-webkit-transform .3s;
}
.rjs-player .play-list-container .play-list{
    height: 575px;
    width: 570px;
    padding: 30px;
    background-color: #fff;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-shadow: 0 4px 15px rgba(0,0,0,.1);
    box-shadow: 0 4px 15px rgba(0,0,0,.1);
}
.rjs-player .play-list-container .play-list .tabs{
    user-select: none;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    font-weight: 300;
    font-size: 16px;
}
.rjs-player .play-list-container .play-list .close{
     position: absolute;
     top: 30px;
     right: 30px;
     font-size: 32px;
     cursor: pointer;
}
.rjs-player .play-list-container .play-list .tabs .tab{
    position: relative;
    margin-left: 40px;
    padding: 7px 0;
    white-space: nowrap;
    cursor: pointer;
}
.rjs-player .play-list-container .play-list .tabs .tab:first-child{
    margin-left: 0;
}
.rjs-player .play-list-container .play-list .tabs .tab:after{
    content: "";
    position: absolute;
    bottom: -3px;
    left: 0;
    right: 100%;
    height: 3px;
    opacity: 0;
    background-color: #4a4a4a;
    -webkit-transition: right .25s,opacity .25s;
    -o-transition: right .25s,opacity .25s;
    transition: right .25s,opacity .25s;
}
.rjs-player .play-list-container.invisible{
    opacity: 0;
    -webkit-transform: translateY(120px);
    -ms-transform: translateY(120px);
    transform: translateY(120px);
    -webkit-transition-timing-function: cubic-bezier(1,-.25,1,1);
    -o-transition-timing-function: cubic-bezier(1,-.25,1,1);
    transition-timing-function: cubic-bezier(1,-.25,1,1);
}
.rjs-player .play-list-container.visible{
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition-timing-function: cubic-bezier(0,0,0,1.25);
    -o-transition-timing-function: cubic-bezier(0,0,0,1.25);
    transition-timing-function: cubic-bezier(0,0,0,1.25);
}
.tabs .tab.active:after{
    right: 0  !important;
    opacity: 1  !important;
}
.rjs-player .some_selected{
    color: red !important;
}
/*歌曲和歌词内容*/
.rjs-player .play-list-container .play-list .table{
    position: relative;
    margin-top: 30px;
    height: 405px;
    padding-bottom: 20px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    /*border: 1px solid red;*/
}
.rjs-player .play-list-container .play-list .table .table-container{
    height: 100%;
    overflow-y: auto;
}
.rjs-player .play-list-container .play-list .table .table-container table{
    position: relative;
    width: 100%;
    table-layout: fixed;
    font-weight: 300;
    border-collapse: collapse;
    border-spacing: 0;
}
.rjs-player .play-list-container .play-list .table .table-container table thead{
    line-height: 50px;
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
}
.rjs-player .play-list-container .play-list .table .table-container table thead th{
    padding: 0 9px;
    text-align: left;
    font-weight: 300;
    white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}

.rjs-player .play-list-container .play-list .table .table-container table tbody{
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}
.rjs-player .play-list-container .play-list .table .table-container table tbody tr{
    height: 50px;
    line-height: 50px;
    -webkit-transition: background-color .2s linear;
    -o-transition: background-color .2s linear;
    transition: background-color .2s linear;
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}
.rjs-player .play-list-container .play-list .table .table-container table tbody tr td{
    --swiper-theme-color: #007aff;
    --swiper-navigation-size: 44px;
    font-size: 14px;
    font-family: PingFang SC,Arial,Microsoft YaHei,sans-serif;
    -webkit-font-smoothing: antialiased;
    color: #4a4a4a;
    font-weight: 300;
    border-collapse: collapse;
    border-spacing: 0;
    -webkit-user-drag: element;
    user-select: none;
    box-sizing: inherit;
    -webkit-tap-highlight-color: transparent;
    outline: none;
    height: 50px;
    line-height: 50px;
    transition: background-color .2s linear;
}
/* 小图标貌似是*/
.play-list .table tr .duration-container {
    position: relative;
    text-align: right;
}
.play-list .table tr .duration-container .duration {
    padding-right: 10px;
}
.play-list .table tr .operations {
    /*display: none;*/
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    opacity: 0;
    height: 0;
    cursor: pointer;
}
.play-list .table tr .duration-container .iconfont {
    display: inline-block;
    font-size: 25px;
    cursor: pointer;
    margin-right: 10px;
    vertical-align: middle;
    margin-top: -4px;
}
.play-list .table tr .duration-container .operations .iconfont.roma {
    font-size: 24px;
    line-height: 50px;
}
.rjs-player table{
    position: relative;
    width: 100%;
    table-layout: fixed;
    font-weight: 300;
    border-collapse: collapse;
    border-spacing: 0;
}
.rjs-player .table table tbody tr {
    height: 50px;
    line-height: 50px;
    -webkit-transition: background-color .2s linear;
    -o-transition: background-color .2s linear;
    transition: background-color .2s linear;
}
.rjs-player .table table tbody tr td {
    padding: 0 9px;
    white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}
.music-list-tr td>div>span.index{
    opacity: 1;
    line-height: 20px;
}
.music-list-tr:hover{
    background-color: rgb(250,250,250);
    /*color: red;*/
    display: block;
}
.music-list-tr:hover td>div>div.operations{
    /*background-color: rgb(250,250,250);*/
    /*color: red;*/
    /*display: block;*/
    opacity: 1;
    height: 50px;
}
.music-list-tr:hover td>div>span.duration.editable,.music-list-tr:hover:hover td>div>span.index,.music-list-tr:hover:hover td>div>div.audio-icon{
    opacity: 0;
    height: 0;
    display: none;
 }
div.play-list-container table > tbody > tr > td:nth-child(1){
    padding: 0 9px;
    white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    vertical-align: middle;
}
.rjs-player .play-list .table tr .index-container {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 18px;
    width: 49px;
    margin: 0 7px;
    line-height: 20px;
}
.rjs-player .play-list .table tr .index-container .checkbox .selected{
    color: red;
}
.table table tbody tr td .em {
    color: #4a4a4a;
    font-weight: 500;
}
.color-red{
    color: red;
}
/*一排小图标*/
.play-list .table tr .index-container .audio-icon {
    /*display: none;*/
}
.audio-icon{
    width: 18px;
    height: 18px;
    min-width: 18px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    /*margin:16px 0 16px 0;*/
    color: red;
    /*display: block;*/
    opacity: 1;
}
.audio-icon .column:first-child {
    margin-left: 0;
}
.music-list-tr .index-container .audio-icon .column.paused{
    -webkit-animation-play-state: paused;
    animation-play-state: paused;
}
.music-list-tr .index-container .audio-icon .column{
    width: 2px;
    height: 100%;
    margin-left: 2px;
    background-color: #ff410f;
    -webkit-animation: play .9s linear infinite alternate;
    /*animation: play .9s linear infinite alternate;*/
    animation-duration: 0.9s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-fill-mode: none;
    animation-play-state: running;
    animation-name: play;
    transition-property: opacity, transform, -webkit-transform;
    transition-duration: 1.5s, 0.25s, 0.25s;
    transition-timing-function: ease, ease, ease;
    transition-delay: 0s, 0s, 0s;
}
@keyframes play {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    100% {
        -webkit-transform: translateY(75%);
        transform: translateY(75%);
    }
}
.play-list .table tr .index-container .play-btn {
    display: none;
    font-size: 24px;
    text-align: left;
    cursor: pointer;
}
/*歌曲列表的脚-总歌曲数*/
.rjs-player .play-list .footer .count {
    margin-left: 15px;
}
.rjs-player .play-list .footer {
    padding-top: 30px;
    border-top: 1px solid #ededed;
    font-size: 14px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.play-list .footer .add-to-collect-select, .play-list .footer .edit {
    color: #ff410f;
    cursor: pointer;
    margin-left: auto;

}
.play-list .footer .add-to-collect-select, .play-list .footer .clear {
    margin-left: 30px;
    color: #ff410f;
    cursor: pointer;
}
/*div.checkbox*/
.unselectable{
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
div.checkbox{
    width: 16px;
    height: 16px;
    min-width: 16px;
    border: 1px solid #999;
    border-radius: 2px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #f2f2f2;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    cursor: pointer;
}
.play-list .footer .select-all, .play-list .footer .selected-count{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
.play-list .footer .select-all{
    width: 10%;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.rjs-player .footer .select-count{
    color: #999;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    margin-left: 9px;
    white-space: nowrap;
}
.play-list .footer .add-to-collect,
.play-list .footer .add-to-collect-select,
.play-list .footer .cancel,
.play-list .footer .clear,
.play-list .footer .edit,
.play-list .footer .remove {
    margin-left: 30px;
    color: #ff410f;
    cursor: pointer;
}
.play-list .footer .add-to-collect-select, .play-list .footer .edit {
    margin-left: auto;
}
.play-list .footer .division {
    margin-left: 30px;
    width: 1px;
    height: 14px;
    background-color: #e0e0e0;
}
